<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<configuration>
  <configSections>
    <section name="SecondLevelRetriesConfig" type="NServiceBus.Config.SecondLevelRetriesConfig, NServiceBus.Core"/>
    <section name="Logging" type ="NServiceBus.Config.Logging, NServiceBus.Core" />
    <section name="MessageForwardingInCaseOfFaultConfig" type="NServiceBus.Config.MessageForwardingInCaseOfFaultConfig, NServiceBus.Core" />
  </configSections>

  <Logging Threshold="Error"></Logging>

  <SecondLevelRetriesConfig Enabled="true"
                         TimeIncrease="00:00:05"
                         NumberOfRetries="3" />
  
  
  
  
  <MessageForwardingInCaseOfFaultConfig ErrorQueue="error" />
</configuration>